<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lar das crianças | Happy</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />

    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>

    <link rel="icon" href="/images/logo_icon.png" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animation.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/map.css" />
    <link rel="stylesheet" href="/css/page-orphanage.css"/>
    <link rel="stylesheet" href="/css/buttons.css" />


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Roboto+Mono&family=Roboto:wght@500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="page-orphanage">
      
      <aside class="animate-right sidebar">
        <img src="/images/map_marker.png" alt="Happy" />

        <footer>
          <button onclick="history.back()">
            <img src="/images/arrow-back.png" alt="voltar">
          </button>
        </footer>
      </aside>

      <main class="animate-appear with-sidebar">
        <div class="orphanage-details">
          <img
            src="/images/home.png"
            alt="Lar das crianças"
          />

          <div class="images">
            <button onclick="selectImage(event)"  class="active" type="button">
              <img
                src="https://source.unsplash.com/randon?id=1"
                alt="Lar das crianças"
              />
             
            </button>

            <button onclick="selectImage(event)" type="button">
              <img
                src="https://source.unsplash.com/random?id=2"
                alt="Lar das crianças"
              />
              
            </button>

            <button onclick="selectImage(event)" type="button">
              <img
                src="https://source.unsplash.com/random?id=3"
                alt="Lar das crianças"
              />
              
            </button>
            
            <button onclick="selectImage(event)" type="button">
              <img
              src="https://source.unsplash.com/random?id=4"
              alt="Lar das crianças"
              />
              
            </button>
            
            <button onclick="selectImage(event)" type="button">
              <img
              src="https://source.unsplash.com/random?id=5"
              alt="Lar das crianças"
              />
              
            </button>
            
            <button onclick="selectImage(event)" type="button">
              <img
              src="https://source.unsplash.com/random?id=6"
              alt="Lar das crianças"
              />
              
            </button>
          </div>
            
            <div class="orphanage-details-content">
              <h1>Lar das crianças</h1>
              
              <p>
                Presta assistência a crianças de 06 a 15 anos que se encontre em
              situação de risco e/ou vulnerabilidade social.
            </p>

            <div class="map-container">
              <div id="mapid"></div>

              <footer>
                <a href=""> Ver rotas no Google Maps</a>
              </footer>
            </div>

            <hr />

            <h2>Instruções para visita</h2>
            <p>
              Venha como se sentir a vontade e traga muito amor e paciência para
              dar.
            </p>

            <div class="open-details">
              <div class="hour">
                <img src="/images/clock.png" alt="Horários" />
                Horário de visitas Das 18h até 8h
              </div>
              <div class="open-on-weekends">
                <img src="/images/info.png" alt="Informações" />
                Atendemos fim de semana
              </div>
            </div>

            <button class="primary-button" type="button">
              <img src="/images/Whatsapp.png" alt="Contato" />
              Entrar em contato
            </button>
          </div>
        </div>
      </main>
    </div>
    <script src="/scripts/page-orphanage.js"></script>
  </body>
</html>
